<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- Kết nối Database -->
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=localhost\MSSQLSERVER01;Database=QuanLyChiTieu;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!-- Cho phép đọc App.config -->
	<appSettings>
		<!--<add key="Setting1" value="Value1" />
		<add key="Setting2" value="Value2" /> -->
	</appSettings>
</configuration>